@{
    ViewBag.Title = "Contato";
}

<h2>@ViewBag.Title</h2>
<br />
<p>
    Github: <a href="https://github.com/NMDavi" target="_top">
        https://github.com/NMDavi
    </a>
    <br />
    E-mail: <a href="mailto:davimendonca@protonmail.com?Subject=Olá%20again" target="_top">
        davimendonca@protonmail.com
    </a>
</p>