<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Wall</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="navbar-top-fixed.css" rel="stylesheet">
    <link href="~/Content/floating-labels.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Menu")

    <div class="text-center">
        @RenderBody()
        <hr />
        <footer>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </footer>
    </div>
</body>
</html>